{% extends "base.html" %}

{% block content %}
    <h1>
    Tags list
    <span class="float-right">
      <a href="{% url 'todo_list:tag-create' %}" class="btn btn-primary link-to-page">
       <i class="bi bi-plus-lg"></i> Create
      </a>
    </span>
  </h1>
  {% block search_form %}
  {% include "includes/search_form.html" %}
  {% endblock %}
  <hr>

  {% if tag_list %}
    <ul class="list-group">
      {% for tag in tag_list %}
          <a href="{% url "todo_list:tag-detail" pk=tag.id %} "
             class="list-group-item list-group-item-action list-group-item-secondary">
            {{ tag.name }} <br>
            Tasks related to this tag: {{ tag.tasks.count }}</a>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}

{% endblock %}
